<h1>{{titulo}}</h1>
<p>Corregir la busqueda, no lo dejes así, tu puedes!!!</p>

<p>Escribe el nombre de tu música favorita</p>
<!-- (keyup)="showSearchResults($event)" cada vez que suelte una tecla llama a esa funcion -->
<input [(ngModel)]="searchText" (keyup)="showSearchResults($event)" class="search-input" />
<!-- si ya se hizo la busqueda se muestran los resultados -->
<ul *ngIf="searching === true" class="search-results">
  <!-- en song tengo los resultados de la busqueda y como es un array, lo recorro -->
  <li *ngFor="let item of song" class="song-item">
    <!-- muestro cada item y como traigo tambien el ID de su album, puedo irme hasta su album -->
    <a class="btn btn-success" (click)="startPlayer(item)">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    </a>
    <a [routerLink]="['/album', item.album._id] ">{{ item.name + ' - '}}</a>
    <a [routerLink]="['/artista', item.album.artist._id]">{{ item.album.artist.name }}</a>
  </li>

</ul>