<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
        <h1>{{titulo}}</h1>
        <p>Empieza a escuchar músicas de tus artistas favoritos y descubres nuevos Hits :D</p>
        <p>
            <a class="btn btn-primary btn-lg" [routerLink]="['/buscar']" role="button">Buscar Canciones</a>
        </p>
        <p>
            <a class="btn btn-primary btn-lg" [routerLink]="['/artistas', 1]" role="button">Ver Artistas</a>
        </p>
        <p>
            <a class="btn btn-primary btn-lg" [routerLink]="['/albums']" role="button">Ver Albumes</a>
        </p>
    </div>
</div>