<div *ngIf="identity && identity.role == 'ROLE_ADMIN' " class="col-lg-6">
    <h1>{{titulo}} al Album: {{album.title}}</h1>

    <div *ngIf="alertMessage">
        <div class="alert alert-info" role="alert">
            {{alertMessage}}
        </div>
    </div>

    <form #formSong="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <label>Número</label>
            <input type="text" #number="ngModel" name="number" [(ngModel)]="song.number" required class="form-control" />
            <span *ngIf="!number && number.touched">
                El numero de la cancion es obligatorio
            </span>
        </p>
        <p>
            <label>Titulo</label>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="song.name" required class="form-control" />
            <span *ngIf="!name && name.touched">
                El titulo es obligatorio
            </span>
        </p>
        <p>
            <label>Duración</label>
            <input type="text" #duration="ngModel" name="duration" [(ngModel)]="song.duration" required class="form-control" />
            <span *ngIf="!duration && duration.touched">
                La duracion es obligatoria
            </span>
        </p>

        <div *ngIf="is_edit">
            <div class="song_file_for_edit" *ngIf="song.file && song.file != 'null'">
                <audio controls>
                    <source src="{{url + 'get-song-file/' + song.file}}" type="audio/mpeg"> El navegador web no soporta la reproduccion de audio
                </audio>
            </div>
            <p>
                <label>Sube el fichero de audio</label>
                <input type="file" placeholder="Subir cancion..." (change)="fileChangeEvent($event)">
            </p>
        </div>
        <!-- mientras el formulario no sea valido que no aparezca, para eso us o[disabled]="!formArtist.form.valid" -->
        <input type="submit" value="{{titulo}}" [disabled]="!formSong.form.valid" class="btn btn-success" />
    </form>
</div>